<body class="signup">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-header mt-5">
                    <h1 class="text-center">
                        <em>User Profile</em>
                    </h1>
                </div>
                <div class="card">
                    <div class="text-center">
                        <div class="card-body mt-3">
                            <div class="text-center dashboard_img">
                                <div class="text-center">
                                    <div class="mt-2">
                                        <% if current_user.avatar? %>
                                            <%= image_tag current_user.avatar.url, class: "img_size"%>
                                        <% else %>
                                            <%= image_tag 'profile.png', class: "img_size"%>
                                        <% end %>
                                    </div>
                                    <h2 class="mt-4"><%= current_user.name %></h2>
                                </div>
                                <div class="mt-4">
                                    <p>learned 0 words</p>
                                    <p>learned 0 lessons</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 pr-0">
                                    <h5>Following</h5>
                                    <h3><span class="badge badge-primary" id="following"><a class="text-white"><%= @user.active_relationships.count %></a></span></h3>
                                </div>
                                <div class="col-lg-6 pl-0">
                                    <h5>Followers</h5>
                                    <h3><span class="badge badge-primary" id="following"><a class="text-white"><%= @user.passive_relationships.count%></a></span></h3>
                                </div>
                            </div>
                            <div class="text-center mt-3 mb-1">
                                <% if current_user != @user %>
                                    <% unless current_user.following?(@user) %>
                                        <%= form_for(current_user.active_relationships.build) do |f| %>
                                        <div><%= hidden_field_tag :followed_id, @user.id %></div>
                                        <%= f.submit "Follow", class: "btn btn-primary" %>
                                        <% end %>
                                    <% else %>
                                        <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                                        html: {method: :delete}) do |f| %>
                                        <%= f.submit "Unfollow", class: "btn btn-primary" %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 ml-5">
                <div class="card mt-5">
                    <h1 class="card-header text-center">
                        <em>Activities</em>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</body>