<% if @activities.any? %>
    <% @activities.each do |activity| %>
        <% if activity.action_type == "Lesson" %>
            <div class="media">
                <div class="media-left media-middle">
                    <% if activity.user == current_user %>
                        <% if current_user.avatar? %>
                            <%= image_tag current_user.avatar.url, class: "img-size"%>
                        <% else %>
                            <%= image_tag 'profile.png', class: "img-size"%>
                        <% end %>
                    <% else %>
                        <% if activity.user.avatar? %>
                            <%= image_tag activity.user.avatar.url, class: "img-size"%>
                        <% else %>
                            <%= image_tag 'profile.png', class: "img-size"%>
                        <% end %>
                    <% end %>
                </div>
                <div class="media-body feed-list">
                    <%= link_to_if activity.user == current_user, "You", user_path(current_user) do
                        link_to activity.user.name, user_path(activity.user.id) end %> learned
                    <%= activity.action.lesson_results %> of
                    <%= activity.action.words.size %> in
                    <%= link_to activity.action.category.title, "#" %>
                    <div>
                        <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="media">
                <div class="media-left media-middle">
                    <% if activity.user == current_user %>
                        <% if current_user.avatar? %>
                            <%= image_tag current_user.avatar.url, class: "img-size"%>
                        <% else %>
                            <%= image_tag 'profile.png', class: "img-size"%>
                        <% end %>
                    <% else %>
                        <% if activity.user.avatar? %>
                            <%= image_tag activity.user.avatar.url, class: "img-size"%>
                        <% else %>
                            <%= image_tag 'profile.png', class: "img-size"%>
                        <% end %>
                    <% end %>
                </div>
                <div class="media-body feed-list">
                    <%= link_to_if activity.user == current_user, "You", user_path(current_user) do
                        link_to activity.user.name, user_path(activity.user.id) end %> followed
                    <%= link_to activity.action.followed.name, activity.action.followed %>
                    <div>
                        <p><small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small></p>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
<% else %>
    <h3 class="text-muted text-center">Nothing to show</h3>
<% end %>
<nav aria-label="pagination">
    <div class="pagination justify-content-center mt-3">
        <%= will_paginate @activities %>
    </div>
</nav>